{% extends 'base.html' %}

{% block title %}
root
{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-info">
        <h1>Список пользователей:</h1>
        {% if users|length > 0 %}
            {% for elem in users %}
                <div class="alert alert-info">
                    <h4>Пользователь №{{ elem.id }} ({{ elem.date.date() }})</h4>
                    <p>Ник: {{ elem.name }}</p>
                    <a href="/rootpage/{{ elem.id }}" class="btn btn-warning">Действия</a>
                </div>
            {% endfor %}
        {% else %}
        <p>У нас еще нет пользователей</p>
        {% endif %}
    </div>
</div>
{% endblock %}